<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCD Scanner</title>
  </head>
  <body>
  <canvas style="width: 800px;height: 500px" id="chart"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
const ctx = document.getElementById('chart');

let data = {};
loadData();

function loadData() {
    fetch("/json")
        .then((response) => response.json())
        .then((data) => {
            data = Object.values(data);
            data.sort((a, b) => {
              if(a.title < b.title) { return -1; }
              if(a.title > b.title) { return 1; }
              return 0;
            });
            data = averageEveryXValues(data,10)
            data = calculatePercentageValues(data);
            console.log(data)
            createChart(data);
        })
        .catch(error => {
            console.error(error);
        });
}

function createChart(dta) {
    const labels = Object.keys(dta);
    const datasets = createDatasets(dta);
    new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: datasets
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              stacked: true,
              title: {
                display: true,
                text: 'Value'
              }
            },
            x: {
              title: {
                display: true,
                text: 'Index'
              }
            }
          },
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Sickle cell disease progression'
            }
          }
        }
      });
}

function createDatasets(data) {
      const uniqueKeys = ['duplicate','vertical','ice cube', 'submarine'];
      return uniqueKeys.map(key => {
        return {
          label: key,
          data: Object.values(data).map(item => item[key] || 0),
          stack: 'Stack 0',
          fill: 'origin'
        };
      });
}

function averageEveryXValues(arr, x) {
  let result = [];

  for (let i = 0; i < arr.length; i += x) {
    let temp = {};

    for (let j = i; j < i + x && j < arr.length; j++) {
      for (let key in arr[j]) {
        if (key === 'title' && j === i) {
          temp[key] = arr[j][key];
        } else if (key !== 'title') {
          temp[key] = temp[key] ? temp[key] + arr[j][key] : arr[j][key];
        }
      }
    }

    for (let key in temp) {
      if (key !== 'title') {
        temp[key] /= x;
      }
    }

    result.push(temp);
  }

  return result;
}



function calculatePercentageValues(arr) {
  let result = [];

  for (let i = 0; i < arr.length; i++) {
    let sum = 0;
    let temp = {};

    // Calculate the sum of all properties for the current object
    for (let key in arr[i]) {
      if (key !== 'title') {
        sum += arr[i][key];
      }
    }

    // Calculate the percentage for each property
    for (let key in arr[i]) {
      if (key === 'title') {
        temp[key] = arr[i][key];
      } else {
        temp[key] = ((arr[i][key] / sum) * 100);
      }
    }

    result.push(temp);
  }

  return result;
}
</script>

    
  </body>
</html>
