<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCD Scanner</title>
  </head>
  <body>
  <canvas style="width: 800px;height: 500px" id="chart"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
const ctx = document.getElementById('chart');

let sampledata = {
        "1": {"title": "Image 22-10-25 11-24-52_scaled", "ice cube": 2, "submarine": 1, "vertical": 2},
        "2": {"title": "Image 22-10-25 11-28-21_scaled", "vertical": 5, "ice cube": 2},
        "3": {"title": "Image 22-10-25 11-09-12_scaled", "ice cube": 2, "duplicate": 1, "submarine": 7}
      };
const labels = Object.keys(sampledata);
const datasets = createDatasets(sampledata);


new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: datasets
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              stacked: true,
              title: {
                display: true,
                text: 'Value'
              }
            },
            x: {
              title: {
                display: true,
                text: 'Index'
              }
            }
          },
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Sickle cell disease progression'
            }
          }
        }
      });


function createDatasets(data) {
      const uniqueKeys = ['duplicate','vertical','ice cube', 'submarine'];
      return uniqueKeys.map(key => {
        return {
          label: key,
          data: Object.values(data).map(item => item[key] || 0),
          stack: 'Stack 0',
          fill: 'origin'
        };
      });
}
</script>

    
  </body>
</html>
